@import "../assets/scss/colors";
@import "../assets/scss/mixins";
@import "../assets/scss/base";
@import "../components/Header/Header";
@import "../components/Footer/Footer";
@import "../components/RandomLottoNumbers/RandomLottoNumbers";
@import "../components/LatestLottoNumbers/LatestLottoNumbers";
@import "../pages/ErrorPage/ErrorPage";
@import "../components/Box";

.main {
	min-height: calc(100vh - 60px);

	&__content {
		flex-shrink: 0!important;
		min-height: calc(100vh - 116px);
		margin-top: 56px;
		padding-top: 56px;
	}
}
