@import "../assets/scss/colors";
@import "../assets/scss/mixins";
@import "../assets/scss/base";
@import "../pages/pageParts/header";
@import "../pages/pageParts/footer";
@import "../components/randomLottoNumbers/randomLottoNumbers";
@import "../components/latestLottoNumbers/latestLottoNumbers";
@import "../pages/errorPage/errorPage";
@import "../components/common/box";

.main {
	min-height: calc(100vh - 60px);

	&__content {
		flex-shrink: 0!important;
		min-height: calc(100vh - 116px);
		margin-top: 56px;
		padding-top: 56px;
	}
}
