.latestLottoNumbers {
	padding: 16px 0;

	.list-group {
		box-shadow: 0 0 33px rgba(0,0,0,.2);

		&-item {
			border-left: 0;
			border-right: 0;

			&:first-child {
				border-top: 0;
			}

			&:last-child {
				border-bottom: 0;
			}

			&.active {
				background-color: $green-1;
				border-color: $green-1;
				color: $white;

				&:hover {
					background-color: darken($green-1, 8%);
					border-color: darken($green-1, 8%);
				}
			}
		}
	}
}