.footer {
	background: $green-1;
	color: $white;
	height: 60px;
	font-size: 25px;
	left: 0;
	padding: 10px;
	position: absolute;
	text-align: center;
	width: 100%;

	&__icon {
		@include transition(transform .4s ease-in-out);
		cursor: pointer;
		display: inline-block;
		margin: 0 10px;

		svg {
			@include transition(filter .4s ease-in-out);
			filter: drop-shadow(0 0 0 rgba(0, 0, 0, 0));
		}

		&:hover {
			@include transform(translateY(-5px));
			@include transition(transform .4s ease-in-out);

			svg {
				@include transition(filter .4s ease-in-out);
				filter: drop-shadow(0 3px 3px rgba(0, 0, 0, .2));
			}
		}
	}
}