.randomNumbers {
	background: $white;
	//border: 1px solid $grey-1;
	border-radius: 4px;
	box-shadow: 0 0 33px rgba(0,0,0,.1);
	margin-bottom: 16px;
	padding: 0;

	&__img {
		height: 50px;
	}

	&__numbers {
		padding-top: 16px;

		&__item {
			background: $grey-2;
			border: 1px solid $grey-1;
			border-radius: 4px;
			color: $grey-4;
			display: inline-block;
			height: 2em;
			line-height: calc(2em - 2px);
			margin: 2.5px;
			width: 2em;
		}
	}

	&__button {
		background: $grey-5;
		margin: 16px 0 0;
		padding: 16px 0;
	}
}