.randomNumbers {
	padding: 16px 0;

	&__box {
		@include border-radius(4px);
		@include transition(all .3s ease);
		background: $white;
		box-shadow: 0 0 33px rgba(0, 0, 0, .2);
		margin-bottom: 16px;
		overflow: hidden;
		padding: 16px 0 0;

		&:hover {
			@include transform(translateY(-4px));
		}

		&__img {
			background: url('../../assets/img/sprite-game-logos.png') no-repeat;
			display: inline-block;
			height: 84px;
			margin: 0 auto;
			width: 216px;

			&.type-5 {
				background-position: 0 0;
			}

			&.type-6 {
				background-position: -208px 0;
			}

			&.type-7 {
				background-position: -417px 0;
			}
		}

		&__numbers {
			padding-top: 16px;

			&__item {
				background: $grey-2;
				border: 1px solid $grey-1;
				border-radius: 4px;
				color: $grey-4;
				display: inline-block;
				height: 2em;
				line-height: calc(2em - 2px);
				margin: 2.5px;
				width: 2em;
			}
		}

		&__button {
			background: $grey-5;
			margin: 16px 0 0;
			padding: 16px 0;
		}
	}
}