@import "../../assets/scss/colors";
@import "../../assets/scss/mixins";
@import "../../assets/scss/base";
@import "../../components/Header/Header";
@import "../../components/Footer/Footer";
@import "../../components/LottoNumbers/RandomLottoNumbers/RandomLottoNumbers";

.main {
	min-height: 100%;

	&__content {
		flex-shrink: 0!important;
		min-height: calc(100vh - 60px);
		padding-top: 56px;
	}
}
